@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&family=Poppins&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

header{
  text-align: center;
  font-size: 30px;
  background-color: lightgreen;
  padding: 10px;
  width: 100%;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

h1 {
  text-shadow: 1px 1px 2px rgb(56, 56, 56);
}

#title-about {
  text-align: center;
  width: 100%;
  padding: 30px;
}

.images-luca{
  width: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(102, 102, 102);
}

#section-about {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}


#text-about, #text-about2 {
  text-align: center;
  width: 50%;
  font-size: 17px;
  margin-left: 20px;
  padding: 50px;
}

.about  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

hr {
  width: 70%;
  margin-top: 10px;
  
  
}

#wpp {
  width: 50px;
  height: 50px;
  background-color: gainsboro;
  position: fixed;
  bottom: 10px;
  margin-left: 10px;
  left: 1830px;
  padding: 5px;
}

footer {
  margin-top: 10px;
  width: 100%;
  padding: 30px;
  background-color: rgb(114, 189, 114);
}

#teste {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#second-luca {
  margin-top: 50px;
  width: 300px;
  height: 400px;
}

#text-about2 {
  margin-right: 20px;
}

#section-about2 {
  margin-bottom: 70px;
}

#third-luca {
  height: 400px;
}

.img-container-large {
  display: flex;
  justify-content: center;
  width: 100%;
}

#teste {
  width: 100%;
}

li {
  margin-top: 5px;
  text-align: start;
}